name: origin
description: "Interactive hero animations."
version: 0.0.3
repository: https://github.com/CardosoShlomo/origin

environment:
  sdk: ^3.11.0
  flutter: ">=3.41.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
